In [188]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [189]:
matches_df = pd.read_csv('Dataset/matches.csv')
match_details = pd.read_csv('Dataset/deliveries.csv')

In [190]:
# taking a fraction of data due to its large size
matches_df = matches_df[:195]
match_details = match_details[:100273]

In [191]:
matches_df.head()

,id,year,date,winner,result,win_by_runs,win_by_wickets,player_of_match,team1,team2,toss_winner,toss_decision,umpire1,umpire2,venue
0,1,2017,2017-01-13,Australia,normal,92.0,NaN,MS Wade,Australia,Pakistan,Australia,bat,MD Martell,C Shamshuddin,"Brisbane Cricket Ground, Woolloongabba"
1,2,2017,2017-01-15,Pakistan,normal,NaN,6.0,Mohammad Hafeez,Australia,Pakistan,Australia,bat,CB Gaffaney,P Wilson,Melbourne Cricket Ground
2,3,2017,2017-01-19,Australia,normal,NaN,7.0,SPD Smith,Australia,Pakistan,Australia,field,SD Fry,C Shamshuddin,Western Australia Cricket Association Ground
3,4,2017,2017-01-22,Australia,normal,86.0,NaN,DA Warner,Australia,Pakistan,Australia,bat,CB Gaffaney,MD Martell,Sydney Cricket Ground
4,5,2017,2017-01-26,Australia,normal,57.0,NaN,DA Warner,Australia,Pakistan,Australia,bat,SD Fry,C Shamshuddin,Adelaide Oval

In [192]:
match_details.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,wide_runs,bye_runs,legbye_runs,noball_runs,batsman_runs,extra_runs,total,player_dismissed,dismissal_kind,fielder
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,Mohammad Amir,1,0,0,0,0,1,1,NaN,NaN,NaN

In [193]:
len(match_details)

100273

In [100]:
count=0
for i in range(len(match_details)):
    if  match_details.iloc[i]['wide_runs']!=0 or match_details.iloc[i]['noball_runs']!=0:
        count+=1
v=count/len(match_details)
print("Estimation of wide/no ball = {}".format(v))

Estimation of wide/no ball = 0.025011718009833154

### We got our Wide/No ball probability  v = 0.0250
![123](images/4.jpg)

# 100272 194

In [194]:
print("Total Matches:{}".format(len(matches_df)))
print("total Teams: {}".format(len(set(matches_df.team1))))
print("Total number of Batsmen: {}".format(len(set(match_details.batsman))))
print("Total number of Bowlers: {}".format(len(set(match_details.bowler))))
print("Estimation of wide/no ball = {}".format(v))
print("Total balls Bowled: {}".format(len(match_details)))

Total Matches:195
total Teams: 15
Total number of Batsmen: 528
Total number of Bowlers: 386
Estimation of wide/no ball = 0.025011718009833154
Total balls Bowled: 100273

In [195]:
# feature engineering
drop_col_list = ['non_striker','wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'batsman_runs', 'extra_runs','dismissal_kind', 'fielder']
match_details = match_details.drop(drop_col_list,axis=1)
match_details.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,bowler,total,player_dismissed
0,1,1,Australia,Pakistan,1,1,DA Warner,Mohammad Amir,0,NaN
1,1,1,Australia,Pakistan,1,2,DA Warner,Mohammad Amir,0,NaN
2,1,1,Australia,Pakistan,1,3,DA Warner,Mohammad Amir,0,NaN
3,1,1,Australia,Pakistan,1,4,DA Warner,Mohammad Amir,0,NaN
4,1,1,Australia,Pakistan,1,5,DA Warner,Mohammad Amir,1,NaN

In [196]:
# Calculating the Score for each ball
Score=[]
total_run = 0
temp=1
for i,runs in enumerate(match_details.total):
    if temp != match_details.iloc[i]["inning"]:
        total_run=0
        temp = match_details.iloc[i]["inning"]
    total_run += runs
    Score.append(total_run)
print(len(Score))

100273

In [197]:
# Check Is out or not
is_wicket=[]
out=0
for i,wicket in enumerate(match_details.player_dismissed):
    if  pd.isnull(wicket) == False:
        out=1
    else:
        out=0
    is_wicket.append(out)
len(is_wicket)

100273

In [198]:
#Calculation for Wickets taken
Wickets=[]
total_wickets=0
temp=1
for i,wicket in enumerate(match_details.player_dismissed):
    if  pd.isnull(wicket) == False:
        total_wickets+=1
    if temp != match_details.iloc[i]["inning"]:
            total_wickets=0
            temp = match_details.iloc[i]["inning"]
    Wickets.append(total_wickets)
print(len(Wickets))

100273

In [199]:
#Calculation for Balls_Bowled
Balls_Bowled=[]
total_balls=0
temp=1
for i,ball in enumerate(match_details.ball):
    if ball <=6:
        if temp != match_details.iloc[i]["inning"]:
            total_balls=0
            temp = match_details.iloc[i]["inning"]
        total_balls+=1
    Balls_Bowled.append(total_balls)
len(Balls_Bowled)

100273

In [200]:
### Adding the new features into the dataset
match_details.rename(columns = {'total':'runs_accquired'}, inplace = True)
match_details = match_details.drop('player_dismissed',axis=1)
match_details['Score'] = Score
match_details['Wickets'] = Wickets
match_details['Balls_Bowled'] = Balls_Bowled
match_details['Is_OUT'] = is_wicket

In [201]:
match_details.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'bowler', 'runs_accquired', 'Score', 'Wickets',
       'Balls_Bowled', 'Is_OUT'],
      dtype='object')

In [202]:
match_details = match_details[['match_id', 'inning', 'batting_team', 'bowling_team', 'over','Balls_Bowled','ball','batsman', 'bowler', 'runs_accquired', 'Score', 'Wickets','Is_OUT']]

### Now our dataset has all the feature to predict the outcome
![as](images/3.jpg)

In [203]:
match_details.head()

,match_id,inning,batting_team,bowling_team,over,Balls_Bowled,ball,batsman,bowler,runs_accquired,Score,Wickets,Is_OUT
0,1,1,Australia,Pakistan,1,1,1,DA Warner,Mohammad Amir,0,0,0,0
1,1,1,Australia,Pakistan,1,2,2,DA Warner,Mohammad Amir,0,0,0,0
2,1,1,Australia,Pakistan,1,3,3,DA Warner,Mohammad Amir,0,0,0,0
3,1,1,Australia,Pakistan,1,4,4,DA Warner,Mohammad Amir,0,0,0,0
4,1,1,Australia,Pakistan,1,5,5,DA Warner,Mohammad Amir,1,1,0,0

In [204]:
# Label Encoding of categorical values
from sklearn import preprocessing
le_team = preprocessing.LabelEncoder()
le_batsman = preprocessing.LabelEncoder()
le_bowler = preprocessing.LabelEncoder()

match_details.batting_team = le_team.fit_transform(match_details.batting_team)
match_details.bowling_team = le_team.fit_transform(match_details.bowling_team)
match_details.batsman = le_batsman.fit_transform(match_details.batsman)
match_details.bowler = le_batsman.fit_transform(match_details.bowler)

In [205]:
# After Label Encoding
match_details.head()

,match_id,inning,batting_team,bowling_team,over,Balls_Bowled,ball,batsman,bowler,runs_accquired,Score,Wickets,Is_OUT
0,1,1,1,8,1,1,1,114,239,0,0,0,0
1,1,1,1,8,1,2,2,114,239,0,0,0,0
2,1,1,1,8,1,3,3,114,239,0,0,0,0
3,1,1,1,8,1,4,4,114,239,0,0,0,0
4,1,1,1,8,1,5,5,114,239,1,1,0,0

### At this point our features are ready, time to add the target variable in our dataset

![abc](images/2.jpg)

In [206]:
Target_var = []
target =0
for i in range(len(match_details)):
    if match_details.iloc[i]['Is_OUT']==1:
        target = 1
    elif match_details.iloc[i]['runs_accquired']==0:
        target = 2
    elif match_details.iloc[i]['runs_accquired']==1:
        target = 3
    elif match_details.iloc[i]['runs_accquired']==2:
        target = 4
    elif match_details.iloc[i]['runs_accquired']==3:
        target = 5
    elif match_details.iloc[i]['runs_accquired']==4:
        target = 6
    elif match_details.iloc[i]['runs_accquired']==6:
        target = 7
    Target_var.append(target)
len(Target_var)

100273

In [207]:
match_details['Target'] = Target_var

In [208]:
match_details.head()

,match_id,inning,batting_team,bowling_team,over,Balls_Bowled,ball,batsman,bowler,runs_accquired,Score,Wickets,Is_OUT,Target
0,1,1,1,8,1,1,1,114,239,0,0,0,0,2
1,1,1,1,8,1,2,2,114,239,0,0,0,0,2
2,1,1,1,8,1,3,3,114,239,0,0,0,0,2
3,1,1,1,8,1,4,4,114,239,0,0,0,0,2
4,1,1,1,8,1,5,5,114,239,1,1,0,0,3

## Checkpoint:

In [209]:
match_details.to_csv('Processed_dataset.csv',index=False)

## Finally our dataset is ready for modeling

* In modeling , Given some features we will generate the outcome using the equation below:
![asx](images/5.jpg)
* But to get the result of Eq 3 we need another equation given below:
![ada](images/6.jpg)
* We can get unknown parameters for equation 6 from below:
![qwe](images/7.jpg)
* In short:
![wrte](images/8.jpg)

In [398]:
# generating the unkown parameters before the distributions
del_1 = np.random.uniform()
del_2 = np.random.uniform()

tow = np.random.gamma(1.0,1.0)
sigma = np.random.gamma(1.0,1.0)

u_i = (tow**2)*np.random.randn(528) #batsman
u_j = (tow**2)*np.random.randn(386) #bowler

![234](images/11.jpg)

In [399]:
def generate_alk():
    alk = []
    for i in range(9):
        ak=[]
        for j in range(6):
            if len(ak)==0:
                ak.append(np.random.randn())
            else:
                temp = np.random.randn()
                while(ak[-1]>temp):
                    temp= np.random.randn()
                ak.append(temp)
        alk.append(ak)
    return alk

In [400]:
a_lk = generate_alk()
a_lk = np.array(a_lk)
a_lk = (sigma**2)*a_lk

In [401]:
a_lk

array([[-0.62892396,  0.23881564,  1.00242203,  1.42205023,  1.55806653,
         1.71149593],
       [ 0.81407072,  0.9408261 ,  1.08219004,  1.15414047,  1.20558939,
         1.60984593],
       [ 0.53582691,  0.75133601,  0.96270398,  0.98028865,  1.28692581,
         1.95290497],
       [ 0.42817781,  0.51970156,  1.27341475,  1.40966968,  1.43030072,
         1.4551182 ],
       [-0.50016836, -0.39491516,  0.4152678 ,  0.53365398,  0.89078499,
         1.17615392],
       [ 0.61208451,  0.78137341,  1.36403914,  1.3685419 ,  1.38758707,
         1.5421192 ],
       [ 0.27957286,  0.55268545,  2.02965436,  2.34074399,  2.39608686,
         2.6944311 ],
       [ 0.45911305,  0.90716723,  1.19455916,  1.37018114,  1.43402154,
         1.43989578],
       [ 0.49930394,  0.85086306,  0.87713535,  1.01640984,  1.09255721,
         1.29955012]])

## implementing the situation
![rrg](images/9.jpg)

In [361]:
def Situation(over,wicket_loss):
    if 1<=over<=15 and 0<=wicket_loss<=3:
        return 1
    if 16<=over<=35 and 0<=wicket_loss<=3:
        return 2
    if 36<=over<=50 and 0<=wicket_loss<=3:
        return 3
    if 1<=over<=15 and 4<=wicket_loss<=6:
        return 4
    if 16<=over<=35 and 4<=wicket_loss<=6:
        return 5
    if 36<=over<=50 and 4<=wicket_loss<=6:
        return 6
    if 1<=over<=15 and 7<=wicket_loss<=9:
        return 7
    if 16<=over<=35 and 7<=wicket_loss<=9:
        return 8
    elif 36<=over<=50 and 7<=wicket_loss<=9:
        return 9

![ada](images/6.jpg)
![ada1](images/10.jpg)

In [440]:
def Predicted_P_ijwbk(i,j,k,l):
    new_del = 0
    if l <=3:
        new_del=0
    elif 3<l<=6:
        new_del=del_1
    elif 6<l<=9:
        new_del=del_1+del_2
    
    #print(term1,term2)
    if k==1 or k==7:
        result = 0.01
    else:
        term1 = a_lk[l-1][k-1] -u_i[i] - new_del + u_j[j] #indexing of python 
        term2 = a_lk[l-1][k-2] -u_i[i] - new_del + u_j[j]
        result = np.random.logistic(term1) - np.random.logistic(term2)
    return result

In [451]:
Predicted_P_ijwbk(1,1,5,1)

1.5628461861397416

## So, We Finally got Our... Prob(Xb=k)
![asx](images/5.jpg)

In [ ]:
#### Check Predicted_P_ijwbk(i,j,k,l) for 1 and 7

![rf](images/12.jpg)

In [368]:
match_details.Target.value_counts()

2    50886
3    32760
6     7603
4     4736
1     2699
7     1114
5      475
Name: Target, dtype: int64

In [371]:
target_freq = np.array([2699,50886,32760,4736,475,7603,1114])/len(match_details)

In [452]:
target_freq

array([0.02691652, 0.50747459, 0.32670809, 0.04723106, 0.00473707,
       0.075823  , 0.01110967])

In [387]:
## Testing out algorithm on a Match
match1 = match_details[match_details.match_id == 1]
match1_1st = match1[match1.inning==1]

In [388]:
match1_1st

,match_id,inning,batting_team,bowling_team,over,Balls_Bowled,ball,batsman,bowler,runs_accquired,Score,Wickets,Is_OUT,Target
0,1,1,1,8,1,1,1,114,239,0,0,0,0,2
1,1,1,1,8,1,2,2,114,239,0,0,0,0,2
2,1,1,1,8,1,3,3,114,239,0,0,0,0,2
3,1,1,1,8,1,4,4,114,239,0,0,0,0,2
4,1,1,1,8,1,5,5,114,239,1,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,1,1,1,8,50,296,2,324,130,4,265,9,0,6
306,1,1,1,8,50,297,3,324,130,0,265,9,0,2
307,1,1,1,8,50,298,4,324,130,0,265,9,0,2
308,1,1,1,8,50,299,5,324,130,2,267,9,0,4
309,1,1,1,8,50,300,6,324,130,1,268,9,0,3

### Observation on the data
* Australia is the batting in the 1st innings
* Pakisthan is bowling
* Opening Batsmen are DA Warner and TM Head
* 1st Bowler is Mohammad Amir

### Important Insight
There are **310 rows** in this dataset, A one innings have only **300 balls(50 overs)**<br>
So, **the extra 10 balls must be wide or no balls**<br>

In [389]:
# Overall Overview of the match
matches_df.iloc[0]

id                                                      1
year                                                 2017
date                                           2017-01-13
winner                                          Australia
result                                             normal
win_by_runs                                            92
win_by_wickets                                        NaN
player_of_match                                   MS Wade
team1                                           Australia
team2                                            Pakistan
toss_winner                                     Australia
toss_decision                                         bat
umpire1                                        MD Martell
umpire2                                     C Shamshuddin
venue              Brisbane Cricket Ground, Woolloongabba
Name: 0, dtype: object

## Algorithm:
<img src="images/13.jpg" width="600" height="600">

In [391]:
print(v)
print(target_freq)

0.025011718009833154
[0.02691652 0.50747459 0.32670809 0.04723106 0.00473707 0.075823
 0.01110967]

In [442]:
for dat in range(len(match1_1st)):
    u = np.random.uniform()
    if u < v:
        print("WideB:")
        print(target_freq[1],target_freq[2],target_freq[3],target_freq[4],target_freq[5],target_freq[6])
    else:
        #Xb
        l = Situation(match1_1st.iloc[dat]["over"],match1_1st.iloc[dat]["Wickets"])
        i = match1_1st.iloc[dat]["batsman"]
        j = match1_1st.iloc[dat]["bowler"]
        print("Ball:")
        print(Predicted_P_ijwbk(i,j,1,l),Predicted_P_ijwbk(i,j,2,l),Predicted_P_ijwbk(i,j,3,l),Predicted_P_ijwbk(i,j,4,l),Predicted_P_ijwbk(i,j,5,l),Predicted_P_ijwbk(i,j,6,l),Predicted_P_ijwbk(i,j,7,l))

Ball:
0.01 1.2647779156301038 0.24779103272327774 1.2056124968616293 0.09030919033277995 6.193717705730348 0.01
Ball:
0.01 1.6403408394407775 2.7019858106221033 4.691919343571573 1.4696186504457576 0.92265740415376 0.01
Ball:
0.01 2.517191114989044 5.314143632827053 1.4843050384287118 1.7075869576059093 3.2684142862746572 0.01
Ball:
0.01 2.677643635255734 3.4132031796321614 0.4972500213594194 1.6513927645413589 3.1204032045712546 0.01
Ball:
0.01 6.161701354540779 1.4631691552025465 2.8824184448105257 0.8062636264123535 5.866418209876107 0.01
Ball:
0.01 0.7773596220030153 1.0259158451674186 3.2498136236506268 0.9638087964033333 0.024678739522740578 0.01
Ball:
0.01 1.6324297653518287 2.0458858880204596 0.6994915714004746 0.5855646113157165 2.10032199530983 0.01
Ball:
0.01 1.1042023145430382 3.1045282405134866 0.6151778797797829 1.5356194296998154 3.345915782389242 0.01
Ball:
0.01 2.0117929167953648 3.326397420185096 0.6014864115764205 0.8871341942371398 0.8763858876219492 0.01
Ball:
0.01 1.6565101271273637 2.669840145059386 0.10440407001462981 0.16594546603104732 1.2315551888753844 0.01
Ball:
0.01 3.3235117156716223 0.48470418834481843 1.6906384527149887 1.358207564472505 0.02300529310670929 0.01
Ball:
0.01 0.22915690269562994 1.251584478411536 0.09863490467097635 0.7192604903328159 1.912164298823672 0.01
Ball:
0.01 2.380700184745386 1.4764786792034048 2.17823499492613 1.650507873308473 3.4650303400683153 0.01
Ball:
0.01 2.4846534692985873 0.4686820102617726 2.543549251573374 2.3547391482988163 1.0974772401047432 0.01
Ball:
0.01 1.3633132745653285 3.164935599457434 1.78953008804372 2.081522266072228 3.3054980514989314 0.01
Ball:
0.01 1.038079869775782 1.1534255776721036 1.3936025716821063 0.8840678468443606 0.9689223383394419 0.01
Ball:
0.01 0.9321452787859871 0.6753860298653311 4.620756083271537 1.287289609753047 1.6548986974545823 0.01
Ball:
0.01 4.21597486023205 2.8090183089687044 3.1596229218284027 3.3040167773237052 2.1845790036727037 0.01
Ball:
0.01 0.3155726188983471 1.7599476793412592 0.560042656988644 0.5577410405614898 2.7313837811369406 0.01
Ball:
0.01 2.037558834462135 1.4723015334171181 0.5966991644416642 0.16453746710831418 4.180473384653558 0.01
Ball:
0.01 0.02876485091979447 2.318051003059353 0.5979046117937437 3.9441268676464465 0.29629397776363664 0.01
Ball:
0.01 1.034341877726299 2.2698447425930595 2.7493955435486095 1.8487167410252148 6.405710933437298 0.01
Ball:
0.01 4.803598879975598 5.3277964922919905 1.519119236704999 3.4606293390220824 4.036308447463251 0.01
Ball:
0.01 3.480729190023985 2.170623589640422 5.549937462377562 2.311490336615278 5.718158824139711 0.01
Ball:
0.01 4.406068738647827 2.302527238686775 1.4206415584979197 0.018044943332391483 2.980413821684513 0.01
Ball:
0.01 2.8287326719144286 1.5029346384261917 5.93783272404848 2.1235534759350223 1.0270575822732515 0.01
Ball:
0.01 0.0002153530308074414 3.356147021346925 3.633033569377145 0.09111442956328952 4.122570297631355 0.01
Ball:
0.01 1.6195817737824145 0.4457385360100793 2.093479484058093 0.0012101363161229894 0.5248741597356084 0.01
Ball:
0.01 1.9037969541150357 2.316411780314226 1.6191964116969821 4.787967914362211 1.7713633551498138 0.01
Ball:
0.01 1.129732522474118 1.0142809300623483 2.5832523719950693 1.0125517467242267 0.34435375260020806 0.01
Ball:
0.01 0.5024135299779937 5.190984637230062 0.9305668259631501 0.4201495033741456 0.8515108049959701 0.01
Ball:
0.01 0.30449212004121384 8.613513515920012 0.444896631207915 1.315451251492516 1.5945788161981072 0.01
WideB:
0.5074745943574043 0.32670808692270104 0.047231059208361174 0.004737067804892643 0.07582300320126056 0.011109670599264009
Ball:
0.01 3.355735749432487 1.8126327538954623 0.5261564172528006 3.8167808721579277 0.11592003786841953 0.01
Ball:
0.01 0.37716953963996047 1.29461633857726 0.56920861690687 0.8133727427981774 0.07131944371763144 0.01
Ball:
0.01 2.467392874926036 0.10429946853572014 1.2419976176738 1.6419204237473535 4.177848771362925 0.01
Ball:
0.01 3.6344551208408213 0.8136284965538406 1.3418460136304269 4.606251001358791 1.739738804446772 0.01
Ball:
0.01 6.488044462102837 0.5720692746629201 0.9302433594684762 2.3606073070211337 3.1384653458300082 0.01
Ball:
0.01 0.8624260503642058 0.5624334671968256 4.743779703457243 0.35394986484259716 1.2981093958646421 0.01
Ball:
0.01 1.5655128562101495 3.112597028491604 1.355163320529579 5.020316309267724 0.31632877759318334 0.01
Ball:
0.01 4.821190190609028 1.3668589726901257 0.44589681223620903 0.17957962517854176 1.9391438613517078 0.01
Ball:
0.01 3.2861218041198312 1.871557421572462 0.6303167644430391 1.8228680547026195 3.5650232380465954 0.01
Ball:
0.01 1.4271833971066328 1.050683452099598 1.1092470795606406 1.9790586580065495 4.004761402810435 0.01
Ball:
0.01 0.8966983728341975 0.8236913580806454 1.9971038634519482 1.112294035638163 0.10189871102228931 0.01
Ball:
0.01 2.663861328678189 6.960694801718262 1.693122645234923 0.4321443330771184 1.230643312256225 0.01
Ball:
0.01 2.743773591068474 1.321939434487794 2.294349585557165 1.1698714658093408 0.5741999740639601 0.01
Ball:
0.01 2.8367819588516303 1.7490895669559463 1.8145691582124563 4.55195269618664 3.06868387027901 0.01
Ball:
0.01 0.5814751346926095 1.6422630575084745 3.170959308713242 2.684933196344958 0.44270483792637005 0.01
Ball:
0.01 1.274561061159389 0.6897474374557098 3.4185512946446015 0.6012175308562584 3.7190174135774234 0.01
Ball:
0.01 0.396244550641792 0.057772307339001794 1.5395750585576051 0.9064317826447689 4.105064035470386 0.01
Ball:
0.01 3.1384689595383053 4.275776697111336 5.122564677898595 0.5319826357595583 1.1868319088093502 0.01
Ball:
0.01 6.60572494535082 9.293985339815283 2.3652944605413526 3.2822320467647863 1.3510449144435728 0.01
Ball:
0.01 7.701031456918151 0.7946189816759378 4.610601132020874 0.21314193040770357 0.03223992973111467 0.01
Ball:
0.01 1.687752632270683 5.536241668441425 2.9706589815397675 0.02448852369872534 0.4317485572056097 0.01
Ball:
0.01 2.00802027261109 0.24471915934876687 1.0627632597446142 1.169883454770385 5.120619903024069 0.01
Ball:
0.01 1.4446134104266104 1.0629848785818488 0.40068538829983336 0.7686314201897904 1.2305161128311684 0.01
Ball:
0.01 3.4852534630697507 1.8775234807073802 3.6650604988720357 4.151880106337786 2.122104889557659 0.01
Ball:
0.01 3.2702280174189253 0.7314085663078427 4.2539495764196635 3.030712467442301 0.3732878983150201 0.01
Ball:
0.01 1.4889292925088513 2.6430759417443475 3.3359444232977062 3.5733333320251885 0.13495823449554445 0.01
Ball:
0.01 2.3550307756593583 1.072930358307517 3.073752407804752 0.0557583936880226 0.13293115676709455 0.01
Ball:
0.01 5.187239969485878 5.314434782045815 1.1604161567703053 1.425644540849183 0.7576263592029859 0.01
Ball:
0.01 1.4326005446794445 0.12889185685455212 2.389749331519649 2.4709963382162803 1.9247131563279085 0.01
Ball:
0.01 3.7031569163142444 2.469756205792249 3.398450411626453 1.2717669142972907 1.6163866470308803 0.01
Ball:
0.01 1.6544605298415966 1.548457562853672 0.47127343581864345 1.489789122140142 1.5459583287110903 0.01
Ball:
0.01 1.3158730278606892 2.849376665038074 5.926730460939784 2.3342521536653926 1.3926410002452578 0.01
Ball:
0.01 0.004178393996525864 1.9099318170938744 0.29996123587416323 1.835985345418803 0.9342436133926175 0.01
Ball:
0.01 1.9710832177352295 0.4587615819842188 1.1275438267713636 3.5281133756963383 0.9775907219095283 0.01
Ball:
0.01 2.3771443301863613 1.878617712923928 0.9040982234649055 1.6797040527148157 2.6088873181175067 0.01
Ball:
0.01 2.3248018161790442 4.7838805244925044 3.4776559071011466 1.9329189298239835 0.2059996291601478 0.01
Ball:
0.01 1.1881365639579526 6.069344904090327 4.897088107710924 1.998378534626123 0.1843674157135653 0.01
WideB:
0.5074745943574043 0.32670808692270104 0.047231059208361174 0.004737067804892643 0.07582300320126056 0.011109670599264009
Ball:
0.01 2.3219250112875915 2.1661176913522344 0.13971529491147372 5.080385451790082 2.422942947167411 0.01
Ball:
0.01 0.5711437880099658 1.9890575276836033 1.0193731796237229 2.738377044413804 0.6905900683162217 0.01
Ball:
0.01 3.04282910786641 2.529189881531252 4.712135642524238 2.3135113146651918 1.337999706043047 0.01
Ball:
0.01 0.8509775028732844 5.2573390391578965 2.7223562962927 1.57198290635969 2.996799635429001 0.01
Ball:
0.01 1.5210133978708285 3.666054960940234 1.5119263019644529 0.08193019251978706 1.8693400431568123 0.01
Ball:
0.01 1.0779805482546672 1.6566369325908163 1.1938506265745024 3.789222924674299 0.06613242865791591 0.01
Ball:
0.01 0.7395882483166657 0.5014083907029758 1.6835412406939425 1.16462359909265 3.1955183004682612 0.01
Ball:
0.01 0.39243398231572013 0.32190089206481937 0.3306553971272299 1.4517627691192145 1.0157871288837432 0.01
Ball:
0.01 2.6776138135240743 0.34950323909462433 0.317900924302702 3.236965763481804 1.2666971830926368 0.01
Ball:
0.01 6.05880257510378 3.8897279827578695 2.8245168098794506 2.625670693509793 3.1994073824429616 0.01
Ball:
0.01 2.4997110105563936 0.21740108677916958 3.451100161794939 0.33316042241554533 0.2040089527355341 0.01
Ball:
0.01 3.9145492147640972 1.0152019436430673 3.2363566901335985 3.2955941792178245 5.7179566762526575 0.01
Ball:
0.01 1.3161931321716525 1.1737162643845598 1.1293413951687667 4.03077074090181 0.11713087746386952 0.01
Ball:
0.01 0.8551551194296517 0.8794661780541009 0.6038253108409511 0.18427436751956505 0.330833112049186 0.01
Ball:
0.01 3.292725890287305 2.0425306894885633 0.3529082076314334 4.323696599612653 1.6167599620800486 0.01
Ball:
0.01 3.3694903216744554 0.1490892428767462 1.2778937622109032 2.7431820824190467 3.4189275381487207 0.01
Ball:
0.01 1.3826743698668336 2.879069162640123 0.20511482585413332 3.30247353509073 2.714689825551161 0.01
Ball:
0.01 1.8533969012506009 2.672658465440618 1.5534875539908197 4.128173355924685 1.913717683282042 0.01
Ball:
0.01 0.43569530655692157 3.057686853412712 2.1172480455038514 2.174421260995812 2.6768920970515597 0.01
Ball:
0.01 3.8652455326656847 3.384137875895223 2.9173722924181797 0.04115334037704366 1.688072009620341 0.01
Ball:
0.01 2.3568519577286287 5.127894033547466 2.149028708886794 0.6546111305432449 0.8759563652164299 0.01
Ball:
0.01 3.3885565077859323 4.461287433659141 0.11992598107575092 5.141314213578785 2.422148919095393 0.01
Ball:
0.01 6.462449771678501 1.6128429620752303 5.82941674554179 0.9983895962857063 2.941925430644063 0.01
Ball:
0.01 4.38524232648355 3.5144367719207708 0.9656523071775995 2.6110394106797985 0.13120839233282844 0.01
Ball:
0.01 0.35953577092751887 0.5605212891134279 0.7335308141037138 3.1194470425866645 2.2995411490298348 0.01
Ball:
0.01 3.25285922730276 0.8956388939186462 0.31414042829164845 0.09449837656820748 2.111608976787279 0.01
Ball:
0.01 2.9432755352746263 3.3397884595569494 0.7607451112478767 2.2482426812547036 0.7356198967640613 0.01
Ball:
0.01 2.3941165336150743 3.489651817224473 1.5693302807047098 2.9368017330774836 2.8249679144472584 0.01
Ball:
0.01 2.4381217298661033 2.1582484488674165 1.7706178935430008 2.4672207255780427 0.7518316762768255 0.01
Ball:
0.01 2.408217947102149 0.2701661617657195 0.7021878535952049 0.44754183805093417 1.3162110060091825 0.01
Ball:
0.01 3.1397028832467555 0.5577281175896698 1.6202199544127303 2.2289030370968987 4.718882179738195 0.01
Ball:
0.01 1.6669359481721244 3.6645574105662435 5.2696808744506445 1.6554031947080037 1.406605367705204 0.01
Ball:
0.01 0.6198854269424847 2.645431882851489 3.649145346362559 2.4796228172305597 2.046402108004997 0.01
Ball:
0.01 2.0926118517768844 1.8042223020505403 3.3728343764265234 5.865315324352153 1.2600805127738406 0.01
Ball:
0.01 2.608739749111219 0.5116373832885557 1.9478952839774377 1.034547686106571 0.7062959235706547 0.01
Ball:
0.01 0.6690717339290337 1.9702763915589154 2.102491133651749 0.9051098667590332 2.6715836762395426 0.01
Ball:
0.01 0.24028201976481234 6.812382267153734 0.04129648285838328 1.8390842736905606 3.9015565950509403 0.01
Ball:
0.01 2.8934067254646614 0.13701206502311447 1.868333280825789 1.8112247431604453 0.6604059692327483 0.01
Ball:
0.01 0.01712717783314366 1.1879813935352024 0.8942729350765666 1.4552381416693496 3.333535626064923 0.01
Ball:
0.01 2.2639153597519766 1.957241186607206 2.088706720134634 0.15596025256842871 4.1043326597573895 0.01
Ball:
0.01 0.917464508542799 0.9264707981304396 0.7305565764482848 0.2032245161462647 2.9886005437890115 0.01
Ball:
0.01 1.2454374329884017 1.0332114332553204 4.413522461272987 2.9101914674814626 5.024489315627583 0.01
Ball:
0.01 1.0238441663419426 1.5002324570465604 1.7712353703342545 5.793626488752176 2.355563426317811 0.01
Ball:
0.01 0.08740373401341017 0.34095544327133953 0.5156258870066188 1.118275211307247 4.052175916004908 0.01
Ball:
0.01 2.6282254398491354 0.9963011288634962 3.766369411488662 2.8190500402012684 1.8740238044011037 0.01
Ball:
0.01 5.299882018253088 0.19163145192678055 4.5289437219063675 1.0412183014600649 0.774649007353244 0.01
Ball:
0.01 0.6360556352838547 3.270729076101065 2.994366025512462 7.941778945306731 0.08999486147940905 0.01
Ball:
0.01 0.06397203222636616 2.1166196264692565 1.1389022501634671 2.521261606022015 1.4446209167437472 0.01
Ball:
0.01 0.4942940381232801 9.098566738820743 1.8364541001345163 3.833937759725047 5.09564431906835 0.01
Ball:
0.01 2.2847048893477844 4.959746964588521 0.1948874513516321 0.6874896227377 1.2106921953903964 0.01
Ball:
0.01 1.0827419359230825 1.400471439007511 1.3816638878046763 1.5103846303975936 0.8346805429077991 0.01
Ball:
0.01 3.123031228654688 2.3840270317351138 2.237881799226769 0.5256516520251633 5.860585842881576 0.01
Ball:
0.01 4.12541527878348 0.9458410082027385 1.4946540421989432 0.009595703447315251 1.092717482840055 0.01
Ball:
0.01 0.14784532592566735 0.09510554367602653 2.547928162614281 1.6861441725257267 0.01615153311691797 0.01
Ball:
0.01 1.4824459269909986 1.1477300326168824 3.2600339461404326 0.5572309454119914 2.4309693281437523 0.01
Ball:
0.01 1.7818258420265503 4.447943603546253 2.083451448823015 3.1923922768053075 0.9032641801511628 0.01
Ball:
0.01 1.5073297782398427 0.7699327044785598 1.627122697367674 0.21121160148465812 1.6565778514880303 0.01
Ball:

0.01 3.2114658286387625 2.7503314152167455 0.09202159849302327 3.424764256609845 4.459685009222273 0.01
Ball:
0.01 1.9998079998223954 1.4358715930572683 0.06578309745367505 0.20552026222430836 1.9456979623064754 0.01
Ball:
0.01 0.44802432054548724 2.1019679310966297 3.762675158328787 5.841205556847166 0.9493138393719152 0.01
Ball:
0.01 1.9014651115016639 0.026529622582936785 4.0864592611383035 0.06118527981931382 2.5767632428745086 0.01
Ball:
0.01 1.9586837804178407 2.8050084879690633 4.228409880352932 2.558391752491332 2.0157359763945966 0.01
Ball:
0.01 3.0207549461222962 2.59254847142119 1.6997368373092168 2.402665363385912 1.6401550282503587 0.01
Ball:
0.01 2.0959017461133036 1.6454266477150419 4.238320414667973 0.4081241147153163 1.0118843861329592 0.01
Ball:
0.01 2.070825116399801 1.4110478527171808 0.43364299849182597 0.3045207869909192 1.2196875901141508 0.01
Ball:
0.01 0.3155487542988933 3.566868983790518 0.8632476826790038 0.8856664467715608 4.235894053061482 0.01
Ball:
0.01 2.1459753049873855 2.408858715246481 0.2713527499930528 0.6702606331867496 2.2918480990763466 0.01
Ball:
0.01 0.43985066115809046 1.3896605231200967 1.646114573262716 1.9451602905471197 3.411959748618175 0.01
Ball:
0.01 5.042581316785379 0.8161742509809055 1.0015025004846945 0.1564481824035055 2.145759449058694 0.01
Ball:
0.01 2.1614933416421716 3.6274755008020483 6.538843561990284 0.5664674324707057 0.9634186987001839 0.01
Ball:
0.01 0.34604069552741623 1.9843259039960475 1.7210126255787872 3.7230373684347127 1.9127723582149239 0.01
Ball:
0.01 3.0270879416121295 1.9987750390982653 0.2613475957069796 1.5863138282161795 0.7986659898511967 0.01
Ball:
0.01 0.9547710914772896 2.8640742366745986 2.8238832272046555 0.32747464034374174 2.011168304173574 0.01
Ball:
0.01 1.1518489153312075 3.0741149248355475 2.927804415488519 1.2900040628014968 0.37696969013596304 0.01
Ball:
0.01 1.1041276471499892 2.7328990255811023 1.2493976644420464 1.2237500141870412 3.7574896016019492 0.01
Ball:
0.01 1.1693676288809467 0.8018677196031192 1.4552129065242478 0.6030288337072822 2.8551044052963066 0.01
Ball:
0.01 0.6612290820797853 4.3221231020344435 0.33927034063519373 7.011027215348117 2.650643868442785 0.01
Ball:
0.01 1.0976297024034858 1.2551952950559442 1.900675805485035 1.9722421743737515 1.0189105062413275 0.01
Ball:
0.01 1.0232253243098413 0.5413969983797782 1.096172993314923 3.1340348556238937 2.0812568458321397 0.01
Ball:
0.01 2.5076985547351835 7.834487722503085 6.7660154208331225 1.7199028042817592 2.9335045425534854 0.01
Ball:
0.01 1.3817320956541435 4.178876431609414 1.6153731183660027 1.354791707196679 1.574652900308934 0.01
Ball:
0.01 0.06785147305906114 1.1737527616710166 2.3060666535347405 5.589765703020781 0.9874023466382893 0.01
Ball:
0.01 0.2418756043890984 1.4288869820306564 1.2481833491966978 0.6328902471953273 7.147768064712621 0.01
Ball:
0.01 2.8764340890721236 2.5899604697493377 4.3699462565708105 1.5227917626336391 1.1593621177444573 0.01
WideB:
0.5074745943574043 0.32670808692270104 0.047231059208361174 0.004737067804892643 0.07582300320126056 0.011109670599264009
Ball:
0.01 0.24956236651158026 6.362131834241979 0.07290939040848432 0.9033820216783945 0.3118951005841069 0.01
Ball:
0.01 0.1307979917259141 1.0653183502666668 3.5885964947132742 4.8003011623461225 2.092176755790869 0.01
Ball:
0.01 0.36374605256459114 3.8436628990767328 5.143276083895985 0.008163217413257387 0.2702743780033019 0.01
Ball:
0.01 0.5144050446930684 3.835962070490554 2.626380843903226 0.5519110954057704 1.4063168865551718 0.01
Ball:
0.01 1.8292590848020183 1.5785695178960157 2.4753693029086086 1.0136410808993475 5.625235849491631 0.01
Ball:
0.01 3.857847801105547 0.7138537653402734 1.0495031136438895 2.466819627738209 0.3861839391670049 0.01
Ball:
0.01 5.640609228752367 4.08172035704499 2.743321327150882 0.12391138957821912 1.8856776742142896 0.01
Ball:
0.01 0.5296707766231691 3.563433462719322 0.29036189034726156 7.313645572809962 2.075850151569311 0.01
Ball:
0.01 1.3546974270984609 3.115141326760088 0.9070783891510461 0.45401725738699383 1.0491466107850758 0.01
Ball:
0.01 1.472026821863949 2.3218930677896292 4.430954392414411 0.3210992213953654 0.4592156495709456 0.01
Ball:
0.01 2.9863674046300686 3.173536823902276 0.9915490541753382 7.991992244052774 2.856473428507418 0.01
Ball:
0.01 2.7673180611204664 1.1204880913978674 1.8969303752333755 1.118424704655497 0.207803619700076 0.01
Ball:
0.01 2.388856465854055 0.9732722362769071 4.895622807194435 1.4718270619115847 2.1314322552388623 0.01
Ball:
0.01 0.26397962644060147 1.5763226096231338 1.1104165860849844 2.711974831433835 0.6154496186261633 0.01
Ball:
0.01 2.3871622560308747 2.4186106725059755 4.029732835414354 2.879018548534303 1.2253000302611141 0.01
Ball:
0.01 4.58105356139505 5.039342758077344 0.8469207089432566 0.4691221809738588 1.2100865083506476 0.01
Ball:
0.01 2.7658212352341964 0.9530618265705326 2.7606979031538486 1.9756777004526427 2.4063743547182073 0.01
Ball:
0.01 0.4352472723619911 1.2839851497366253 5.81034196543113 2.5772147377106234 3.725412288404213 0.01
Ball:
0.01 0.15824229808673385 1.5827861928551181 1.4855663588268375 0.13474169903376954 0.5314059780126663 0.01
Ball:
0.01 3.103951843849779 0.812044429201741 3.067009576811759 1.3882992018277316 0.26207001379299855 0.01
Ball:
0.01 0.40750460679587697 0.5496835535228989 1.1340284892066221 1.0227864132940414 0.478063716916319 0.01
Ball:
0.01 1.4530974146182905 0.7319757926309532 1.268961780574482 0.6994032629792784 0.7948632547247446 0.01
Ball:
0.01 1.2736323524056763 0.2250767079309477 4.012161368560899 1.5815666909177162 3.675371290768164 0.01
Ball:
0.01 1.8843646922682646 1.1098305156151569 2.314415651621072 3.059535318033092 0.7527780749292426 0.01
Ball:
0.01 2.1796412448284883 5.38611873301017 2.225142068810079 1.7599111794773912 2.976316742114906 0.01
Ball:
0.01 0.424400300673594 4.888222784437322 1.4413848471452901 2.9551566573992476 1.5646351862913013 0.01
Ball:
0.01 1.8669667784394088 4.578276320807564 0.45156605121773774 1.6745445108487518 1.0035658078363516 0.01
Ball:
0.01 5.293872980195011 1.7802585116528926 0.6587859318858789 0.06185976174833803 5.824092237876839 0.01
Ball:
0.01 1.3452380634907903 1.5855632951970722 2.758528589992872 1.7704049931895438 0.17092437013510553 0.01
Ball:
0.01 0.35678932838485977 1.741069197124256 4.349043874703368 3.128211936338568 1.647397356646954 0.01
Ball:
0.01 0.23915331925730643 5.093122669454308 0.14384464749462988 4.431880377134925 2.5272149404187565 0.01
Ball:
0.01 1.4821033816137434 1.377119759567775 2.9862223464820454 0.6822546994958034 2.0179315463175493 0.01
Ball:
0.01 2.8243605404403382 0.8044686092552482 4.5828805488265285 2.0628472244857585 0.900012056903908 0.01
Ball:
0.01 0.8965641773469465 1.2714260569070972 4.5984253894158895 2.881410828353756 1.3652330020385444 0.01
Ball:
0.01 0.7397985142336179 1.9301599139155439 4.660725408428542 2.588929392863871 0.6231659072160176 0.01
Ball:
0.01 6.5316772504958855 1.083129944650826 1.3118997689524585 2.703699652737775 1.205690467213524 0.01
Ball:
0.01 6.955287564901896 2.6199046534491988 0.18353523312382547 1.0134253912507671 4.470844547979466 0.01
Ball:
0.01 1.2637379015060741 2.2175726622354475 2.6678488079167666 3.712280535002848 3.654740374659453 0.01
Ball:
0.01 0.011829306118333771 2.7654722554268463 5.454601618316635 0.49913005501790086 0.6958925300591441 0.01
Ball:
0.01 3.5382435346732213 4.73796392952131 0.49308086727102496 1.7372242288129947 0.1598302441111915 0.01
Ball:
0.01 2.4020570286626115 3.093943114568115 0.8458925165981568 0.040090490366183604 2.051592721358309 0.01
Ball:
0.01 3.2480538721687804 0.43713407496882084 6.076567951979019 2.203363148401248 2.5941819420916348 0.01
Ball:
0.01 1.1810467166128658 1.7782144919867382 2.0624032556944503 4.03396533916728 2.5966311866946645 0.01
Ball:
0.01 2.307010192206596 5.15752502975067 0.5775563615421615 4.0027296225014375 0.3631106517110627 0.01
Ball:
0.01 6.676466209738502 5.607170609482773 2.46258148328414 4.128456033794163 0.42426891937938427 0.01
Ball:
0.01 2.061730509152988 0.938366085999526 0.6002878291989151 1.979424174056958 0.1701411085141274 0.01
Ball:
0.01 1.4110720124496812 0.25014794190266454 1.0740078638065715 0.5249812000205982 1.3704594903730545 0.01
Ball:
0.01 0.9178837806964492 0.5650361751072519 3.5087835726903798 0.18491770218105819 0.6474910337975563 0.01
Ball:
0.01 2.2028200363145523 1.6480806580380214 0.9624069749630386 0.498523020778163 0.4100850102827547 0.01
Ball:
0.01 3.520055471458976 3.131703735239509 2.7799253255673997 0.16449590328049513 0.9545898664586053 0.01
Ball:
0.01 2.3676604359008397 1.6528366139153836 1.125377115888424 0.7342237867387509 0.9822306047442461 0.01
Ball:
0.01 0.5989407002258732 0.8095618984689987 0.9555396047995268 1.3026689344236604 1.3163685304604256 0.01
Ball:
0.01 1.8524422171550223 1.575573724298939 1.89098898149926 0.8151991203527502 0.10702914507689737 0.01
Ball:
0.01 0.23350511636170146 1.4621775838341176 0.14530630746774154 0.20592546044931137 1.531998062657448 0.01
Ball:
0.01 2.07069120250629 1.5450222422784785 0.5771191600544108 1.5381604399217643 7.064096004740943 0.01
Ball:
0.01 2.816977503415849 1.6509045294110376 0.41518449022299375 2.822929721816465 2.3787638390106447 0.01
Ball:
0.01 0.10371756439701496 2.0417572426857156 3.995104021287225 2.229932508580421 2.2100323761680043 0.01
Ball:
0.01 3.8500839740121213 0.3909226913593944 1.8610546987627146 0.24625248198467364 3.5073706740767605 0.01
Ball:
0.01 3.6460454661364796 3.5604006156728816 1.8037607466164651 1.2447096462714793 3.296656111747835 0.01
Ball:
0.01 0.5088654873051018 6.423172105791828 1.2862630689676728 0.2439286529632202 1.114581835523051 0.01
Ball:
0.01 3.932488579079444 0.8841355172474019 0.14929642019926348 1.1400031410017373 2.5675373375668964 0.01
Ball:
0.01 0.0987929227257065 2.5336575861030024 2.3490152516571885 2.5408142637173334 1.993967525505174 0.01
Ball:
0.01 1.8175534881430284 3.016225557953111 4.068510388513685 0.04109901899146928 0.6400477288164246 0.01
Ball:
0.01 3.208031402423101 1.1174522247069054 2.295637909641692 0.44826134254743594 1.2214096668477017 0.01
WideB:
0.5074745943574043 0.32670808692270104 0.047231059208361174 0.004737067804892643 0.07582300320126056 0.011109670599264009
Ball:
0.01 1.0451803678753584 2.086585988512952 0.7115713678671487 1.3971101875496768 2.2407520223136546 0.01
Ball:
0.01 0.7439986954242354 1.437078801762981 0.26904746581521694 2.678048405582988 1.5428117485412274 0.01
Ball:
0.01 0.7444820315223977 3.4315640926463917 3.077578760520878 0.022791725883912095 3.2231958419860134 0.01
Ball:
0.01 4.838202815284095 1.3717429379679726 2.9003419591824287 1.4995779685221589 0.647950339516493 0.01
Ball:
0.01 0.7649092532828243 0.9920361091132506 3.5545283082116743 0.7692957732364685 0.9323554523422245 0.01
Ball:
0.01 2.0648216916796933 1.9057672554066478 3.2557568237311925 0.8868460437304202 3.0646915682117544 0.01
Ball:
0.01 1.916159979418627 2.724561847342371 1.8245995750037471 1.0849826428283214 4.681145837076548 0.01
Ball:
0.01 2.611629306919009 1.591311668697848 0.1638060566335156 4.157221322126645 0.7991881008420855 0.01
Ball:
0.01 0.3410083490327318 5.1762662623257185 5.172182266050094 0.6250930163779803 0.18784180018726993 0.01
Ball:
0.01 2.509998801864982 9.406494007864964 1.4046781881116974 2.1934044042662717 0.716465616726772 0.01
Ball:
0.01 1.765651160311343 2.345152174999234 0.583826954910074 4.682282661008678 0.8413933514729235 0.01
Ball:
0.01 3.0290152076369177 0.23829866146823064 0.20852084671690507 1.3873979782217205 0.46257948984478603 0.01
Ball:
0.01 2.2259539211059867 5.657102262132676 0.8540090163825735 2.85578008462698 1.0296119522288643 0.01
Ball:
0.01 0.42852946104055767 2.7399959788990476 1.3730716255247564 1.6175346470043177 0.8109062142154518 0.01
Ball:
0.01 0.2565350473553365 3.6712737065096834 0.3918766227384761 1.96432938203809 1.0217379106577635 0.01
Ball:
0.01 0.9306067982228876 3.4525318407920125 0.45124465971043026 1.9175760125978039 0.41625134198737546 0.01
Ball:
0.01 4.526848324698069 1.9258718851459313 4.157815518040773 0.9836875865641113 4.347641342906176 0.01
Ball:
0.01 4.014728203874982 7.459332648717611 2.88485807777025 0.139982618376032 3.1249490806993245 0.01
Ball:
0.01 3.920496313566628 1.7004996009485196 0.20311629094239314 0.9254473746854197 0.294465767440426 0.01
Ball:
0.01 4.413597378435694 1.6778815162562775 0.34993180187283535 1.901832637592394 3.2540177483651815 0.01
Ball:
0.01 3.6174772188300417 2.197984109894138 0.02678739980838707 0.835915773376573 1.3858555718535155 0.01
Ball:
0.01 2.8304204115568887 1.2887321701027386 1.8936758121282082 2.8590021746935212 1.048426398421937 0.01
Ball:
0.01 1.0974677073375498 1.6629505926810935 2.2056298861906583 0.41637111725745646 2.9897856066272563 0.01
Ball:
0.01 0.7953295771164215 4.3130388592489 0.927153304160903 5.1775490456092115 0.04670814054151695 0.01
Ball:
0.01 6.255161968468613 1.4246741309856346 5.3242694975960605 0.6265496469985528 0.6836423337775852 0.01
Ball:
0.01 6.98087472834495 1.7000663331102133 1.1390215376885573 4.0215145433714525 7.070926456190451 0.01
WideB:
0.5074745943574043 0.32670808692270104 0.047231059208361174 0.004737067804892643 0.07582300320126056 0.011109670599264009
Ball:
0.01 0.3933563866852616 2.3638822136724196 1.1389939812085408 2.5415241262895765 0.4576214751513263 0.01
Ball:
0.01 4.779839602548233 1.1048479468152657 6.295129771930689 0.3242096145645065 1.2247004723109505 0.01
Ball:
0.01 1.8793764485503568 1.3504949706606504 3.9325507354686104 2.044540283658918 6.6978049505936825 0.01
Ball:
0.01 2.593054079990444 2.1271317658196383 1.3952580433877522 1.9598014369176444 0.2747969930921894 0.01
Ball:
0.01 2.0930314546140574 2.940602198230588 1.1926965538067906 1.231912267274835 0.10036035005657751 0.01
Ball:
0.01 0.8997759322058256 4.372429218517116 3.1863361328931594 2.1350716440168327 1.6181074367449038 0.01
Ball:
0.01 1.3004501956575885 0.038761797945923604 0.7139740396872121 3.414064229064343 2.5333829368682386 0.01
Ball:
0.01 3.731143942534501 1.9940324643665641 3.953406683954038 1.0523502172095314 2.010698993281812 0.01
Ball:
0.01 4.083602841499295 3.26845041044437 1.5744577801246995 0.10844062646430852 0.9458965829930441 0.01
Ball:
0.01 3.858728142425186 3.655502280746759 0.7524537211652396 1.3778788093848033 1.8793319447549224 0.01
Ball:
0.01 4.524806279873852 1.9358809726082176 1.3956044187440189 0.7210801162585649 0.904031051754506 0.01
Ball:
0.01 1.328301462210336 1.4009655320010301 2.5659954919836734 1.6882858774372684 4.5473805012745565 0.01
Ball:
0.01 1.2740940654338468 3.503274350002076 0.4308901864950496 0.3062844469559898 1.950106152892158 0.01
Ball:
0.01 1.6324332426267896 3.9987374511983518 1.3624545572812727 0.14846828863653694 1.493790689594328 0.01
Ball:
0.01 1.0636506653803282 1.8624689268183818 0.023511963459716734 1.9607285604364628 0.8787613618853842 0.01
Ball:
0.01 0.8905544472537233 0.14523056978108576 1.5640089021010217 8.349330473759398 0.9611357263464704 0.01
Ball:
0.01 2.092923470059504 1.1189014901742191 0.5953995623160159 1.863472646191144 2.2027932279550035 0.01
Ball:
0.01 0.7736059239496009 0.7167798912596717 0.03152881072196767 5.30512312776525 4.446182089828697 0.01
Ball:
0.01 2.4590473765735 5.522014835787179 2.4474854176633123 4.332802593025697 1.469529176129828 0.01
Ball:
0.01 1.3851818123492647 0.09683997503875913 0.12285441271142225 1.5411367730303986 0.6352529654671542 0.01
Ball:
0.01 3.449380693586175 2.202773237419888 0.02461136054602686 0.204251393199694 0.8633253435217678 0.01
Ball:
0.01 0.3561536614544305 2.6596260580479387 2.12383419232236 0.7855262671816722 1.5327171812144431 0.01
Ball:
0.01 2.4304398713300097 1.1660038717703236 0.7777963557870262 1.1275306379884924 0.797476203588338 0.01
Ball:
0.01 4.377629579776899 4.51038970958226 1.6742727053524566 1.5903761660967666 1.2157134904591453 0.01
Ball:
0.01 3.8226912490162297 3.7006455632029747 1.8838082648126262 3.7521134114692547 2.9815679721732424 0.01
Ball:
0.01 1.4800396237970144 0.13050597511054912 0.24495673420058584 1.4355807811008034 7.20363170062374 0.01
Ball:
0.01 1.4039072908646024 5.0646408003374095 0.3073704012226277 5.224011290770346 0.46652250778595783 0.01
Ball:
0.01 1.913518948888032 4.270441171078085 0.11070513737021892 2.965055471065689 0.4175432812569959 0.01
Ball:
0.01 0.39556579634768907 2.0140966928238164 2.875825502997696 3.7791636099482737 1.6730303929308474 0.01
Ball:
0.01 6.611706809611021 1.6573864098172106 2.206486585237604 8.23001038305869 0.9430070759219917 0.01
Ball:
0.01 5.881765459798043 3.9760295838405186 0.8469693951243296 2.6371297758645658 2.7856195102591137 0.01
Ball:
0.01 0.7611537225244922 0.3883469281202209 1.5240290749524639 1.6864688051978403 0.6311669692408084 0.01
Ball:
0.01 5.094437716869247 1.6442067867089405 1.7055140534890962 3.9493147018842527 0.9168308123323141 0.01
Ball:
0.01 4.305130652988408 3.030219514493266 1.097829695733219 1.3195922866337142 0.5583949133163009 0.01
Ball:
0.01 0.7354837014067758 2.2927772980482715 0.43844818868320884 1.3457262229043832 1.6814682034853763 0.01
Ball:
0.01 0.5442793631020924 0.9847353193285477 1.525677601688092 0.21342935618846703 2.0302168692049407 0.01
Ball:
0.01 1.7878866634332637 0.562483670544405 1.233297505268836 0.4080694808316009 2.6499638154715752 0.01
Ball:
0.01 1.015668562560643 1.7339816715765761 1.1740566922873645 2.443571426902076 1.321995120504804 0.01
Ball:
0.01 0.9444620628182152 1.5913286119867627 0.7357021199506832 5.014364005599172 0.40530640598534956 0.01
Ball:
0.01 0.8719634368243904 4.425587396740585 2.243328908356746 1.0675552016657246 0.9806593686159488 0.01
Ball:
0.01 3.5252884560049846 1.207051611751431 0.5279031349449838 1.4744105573357917 1.2547274313245422 0.01
Ball:
0.01 1.9157688758563598 1.931757625316027 0.14603888172496482 1.7805910844517727 1.3695817459275288 0.01
Ball:
0.01 1.3997401832376872 1.6513651010363561 5.549399091360066 0.02088954445855523 0.2814554056662869 0.01
Ball:
0.01 4.53717754139717 0.08504773571590729 0.09487465597622213 0.4635896759961954 2.4202644394711186 0.01
Ball:
0.01 0.3772561764469564 1.016877734250452 0.5756670495160128 1.662783884051376 2.6263520932551336 0.01
Ball:
0.01 1.0903463672231366 0.10039966801089384 0.8088256421225788 6.037942947485566 1.7091393894851434 0.01
Ball:
0.01 1.0351861999102043 1.7297789518738305 0.27606293567239204 4.190937889363485 1.7965794637262036 0.01
Ball:
0.01 1.6164000180026357 0.021136270428790294 9.123536050574067 0.5528018905394667 1.1331567185666436 0.01
Ball:
0.01 0.9696249271437081 0.029767966499345988 1.2273559077824798 2.86648519540294 2.5243311793754963 0.01
Ball:
0.01 2.372222063560797 0.24899597820578068 2.624475443767003 0.8761272863176776 0.48292120983635717 0.01
Ball:

0.01 0.21177648345802014 3.7680445817682298 0.7105543700842276 0.9298343643219407 1.7948655640485258 0.01
Ball:
0.01 3.9523761265392743 2.4388260919388234 0.7174830435220139 0.965165015528938 2.4677578614095346 0.01
Ball:
0.01 3.8092949500755307 0.13028001806620204 1.678771130888845 1.3315742167066182 0.4844036477941667 0.01
Ball:
0.01 0.1968455094493295 1.9525070388051728 0.22397401775462739 1.0649198321018642 0.35234792379535596 0.01
Ball:
0.01 3.8654017474535043 0.6587628337053963 0.6347965679326559 1.1342094568892054 1.76359660801886 0.01
Ball:
0.01 0.45741729919873997 0.6159201630240035 1.8746517569124197 3.3426864814492445 1.6978184833901135 0.01
Ball:
0.01 2.738664280906915 2.1201851337761033 0.7165845019746169 0.1181968916921805 2.408622405800272 0.01
Ball:
0.01 0.5635712330570073 0.06073364505757825 3.3641239101926854 3.7128655148406904 2.5818114716308846 0.01
Ball:
0.01 1.893976250745578 1.8187793434147261 1.320372416767985 4.168409990226598 1.5197858423034445 0.01
Ball:
0.01 5.068293443667465 1.0852898111518814 1.3833756214257398 2.7722512502744903 0.6049017998135349 0.01
Ball:
0.01 7.619410997067719 2.0590642015400737 2.6741961601390263 1.6445041107540435 2.9746195880214144 0.01
Ball:
0.01 3.636539423317494 3.7315746088879527 1.221378363754319 2.270549131301032 0.28854034441905263 0.01